<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @faculty.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @faculty.first_name %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @faculty.hire_date %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
